.car-card {
    width: 280px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    transition: 0.3s;
    margin: 10px;
}

.car-card:hover {
    transform: scale(1.03);
}

.car-image img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.car-info {
    padding: 12px;
}

.car-info h3 {
    margin: 0;
    font-size: 18px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #2e7d32;
}

.status {
    display: inline-block;
    margin-top: 8px;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
}

/* états */
.en_stock {
    background: #e8f5e9;
    color: #2e7d32;
}

.reservee {
    background: #fff3e0;
    color: #ef6c00;
}

.vendue {
    background: #ffebee;
    color: #c62828;
}

